<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>
            <%= project.title %>
        </h2>

        <p>Organized by: <a href="/organization/<%= project.organization_id %>">
                <%= project.organization_name %>
            </a>
        </p>

        <p>Date: <%= new Date(project.date).toLocaleDateString('en-US', { year: 'numeric' , month: 'long' ,
                day: 'numeric' }) %>
        </p>

        <p>Location: <%= project.location %>
        </p>

        <p>Description: <%= project.description %>
        </p>
    </main>
    <%- include('partials/footer') %>